.mat-mdc-table{
    background-color: #1976d2;
    color: black; /* Set default text color to black */
}

button{
  margin-right: 5px; /* Add spacing between buttons */
}

.action-buttons button:last-child {
  margin-right: 0; /* Remove margin for the last button */
}
.mat-mdc-mini-fab{
  background-color: var(--mdc-fab-small-container-color, var(--mat-sys-primary-container));
}
/* Apply styles for mobile devices (screen width < 600px) */
@media screen and (max-width: 600px) {

    table.mat-elevation-z8 {
      width: 100%;
      border-collapse: collapse;
    }
  
    table.mat-elevation-z8 th,
    table.mat-elevation-z8 td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  
    /* Hide the table headers */
    table.mat-elevation-z8 th {
      display: none;
    }
  
    /* Add labels before data values */
    table.mat-elevation-z8 td::before {
      content: attr(data-label) ": "; /* Adds the label before the value */
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
    }
  
    /* Optional: Add some spacing between rows */
    table.mat-elevation-z8 td {
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }
  
    /* Optional: Add some spacing between rows */
    table.mat-elevation-z8 tr {
      margin-bottom: 10px;
    }
  }
  