<div class="row">
    <div class="container">
        <div class="container" [ngClass]="{ 'sidebar-visible': sidebarVisible }">
            <div class="box">
                <div class="header-container">
                    <h2>I am a header</h2>
                </div>
                <div class="body-container">
                    <div class="inner-box">
                        <p>Box 1 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 2 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 3 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 4 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                    <div class="inner-box">
                        <p>Box 5 (20%)</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="burger-menu" (click)="toggleSidebar()">☰</div>
                <div class="chat-box">
                    <div class="chat-box-container">
                        <div class="message">
                            <p><strong>User:</strong> Hello!</p>
                        </div>
                        <div class="my-message">
                            <p><strong>User:</strong> Hello!</p>
                        </div>
                    </div>
                </div>
                <div class="chat-form">
                    <form action="">
                        <input type="text" placeholder="send a message">
                        <button>submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>